html {
  width: 100%;
  background-color: lightblue;
  font-family: "Dosis", "Helvetica", "Times New Roman"
}
body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

nav {
  width: 100%;
  margin: 20px 0;
}

nav ul {
 width: 100%;
}

nav ul li {
  width: 20%;
  float: left;
}

nav ul li a {
  text-decoration: none;
  background-color:#e6f0f2;
  text-align: center;
  display: block;
  font-size: 0.75rem;
  width: 100%;
  margin: 40px;
  padding: 10px;
  color: #666666;
}

nav ul li a:hover {
  text-decoration: none;
  background-color: lightblue;
}

nav ul li a:visited { 
  text-decoration: none; 
  color: #656060; 
}

div img {
  float: left;
  border-radius: 50%;
  clear: bottom;
}

footer {
  width: 100%;
  clear: both;
}


title {
  font-size: 3rem;
}
article h1 {
  font-size: 2rem;
}

article p {
  display: inline-block;
  font-size: 1rem;
  clear: bottom;
  text-align: left;
  width: 30%;
}

article a {
  text-decoration: none;

}

